  <launch>
	<rosparam subst_value="True">

    inertial_sense_node: { port: "/dev/ttyUSB0",
                           baud: 921600,
                           frame_id: my_frame,
                           navigation_dt_ms: 10,
                           stream_INS: true,
                           stream_IMU: false,
                           stream_GPS: true,
                           stream_GPS_info: true,
                           stream_baro: false,
                           stream_mag: false,
                           stream_preint_IMU: false,
                           stream_GPS_raw: false,
                           inclination: 1.14878541071,
                           declination: 0.20007290992,
                           dynamic_model: 8,
                           INS_rpy: [1.5708, 0 0],
                           INS_xyz: [1, 0, 0],
                           GPS_ant_xyz: [1, 1, 1],
                           GPS_ref_lla: [40.25, -111.67, 1556.59],
                           serial1_baud_rate: 115200,
                           NMEA_rate: 200,
                           NMEA_configuration: 0x0F,
                           NMEA_ports: 0x02,
                           RTK_rover: true,
                           RTK_correction_type: RTCM3,
                           #RTK_server_IP:  localhost ,
                           RTK_server_port:  9000 ,
                         }
    </rosparam>
	<node pkg="rosbag" type="play" name="player" output="none" args="--clock /home/ubuntu/catkin_ws/bagfiles/partial_bag.bag"/>
	<node name="listener2" pkg="inertial_sense" type="listener2.py" output="screen" />
	<node name="listener2" pkg="inertial_sense" type="listener2.py" output="screen" />
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find inertial_sense)/rviz/arrow_only_2.rviz" />
	<node name="publish_gps" pkg="topic_tools" type="transform" args="/gps       /gps/location     geometry_msgs/Vector3   'm.posEcef'"  />
</launch>
